div.Logger
{
	width:	200;
	height: 100px;
	border:	1px solid white;
	overflow: hidden;
	position: fixed;
	z-index: 10;
	bottom: 0px;
	background-color: rgba(255,255,255,0.3);
	
}

div.Logger p
{
	margin:0;
	color: white;
}

canvas
{
	margin : 0;
	padding: 0;
	background: transparent;
}

body
{
	margin : 0;
	padding: 0;
}

div.canvaswrapper
{
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	display: block;
	background: url('sky.jpg');
	background-repeat:no-repeat;
	background-size: cover;
}

div.contextmenu
{
	background-color: rgba(255,255,255,0.3);
	border:	1px solid white;
	z-index: 10;
	position: fixed;
	display: block;
	left: 10px;
	top:120px;
	width:	150px;
}

div.contextmenu div.entry
{
	width:	146px;
	color: white;
	padding: 2px;
	border-bottom: 1px solid white;
}

div.contextmenu div.entry img
{
	height:	30px;
	width:	30px;
}


div.contextmenu div.entry:hover
{
	background-color: rgba(100,100,255,0.3);
}

div.loader
{
	width:	700px;
	background-color: rgba(255,255,255,0.3);
	border:	1px solid white;
	height: 400px;
	margin: auto;
	margin-top: 5%;
}

div.loader div.barbox
{
	background-color: rgba(100,100,100,0.3);
	border:	1px solid grey;
	height: 20px;
	width: 650px;
	margin-left: 25px;
	margin-top: 25px;
	padding: 0px;
	display: block;
}

div.loader div.barbox div.bar
{
	background-color: rgba(200,0,0,0.3);
	height: 18px;
	margin: 1px;
	display: block;
	padding: 0px;
	width: 0%;
}

div.loader div.msgbox
{
	color: white;
	margin-top: 30px;
	margin-left: 25px;
	height: 230px;
	overflow: hidden;
	height: 
}

div.loader h1
{
	color: white;
	margin-left: 25px;
	
}