.msgOk, .msgError
{
	z-index: 10000;
	position:fixed;
	width: 500px;
	margin-left: -250px;
	left: 50%;
	display: block;
	color: black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	-moz-box-shadow: 0px 1px 4px #000000;
	-webkit-box-shadow: 0px 1px 4px #000000;
	box-shadow: 0px 0px 50px #000000;
}

.msgOk
{
	background-color: lightgreen;
}

.msgBlendOk
{
	background-color: rgba(128, 255, 128, 0.5);
}

.msgError
{
	background-color: lightcoral;
}

.msgBlendError
{
	background-color: rgba(255, 128, 128, 0.5);
}

.msgBlendOk, .msgBlendError
{
	left: 0px;
	top: 0px;
	position:fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	
}
